.container {
  // box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 220px;
  // width: 170px;
  // height: 220px;
  font-family: Arial;
  font-size: 14px;
  color: #0a3b32;
  background-color: #ffffff;
}
.label {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #0a3b32;
}

.title-top {
  font-weight: bold;
}
.title-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -5px;
}
.value-label {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 3%;
  height: 25px;
  line-height: 25px;
}
.value-view {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 3%;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
}

.visual-value-left {
  float: right;
  margin: 0 10%;
}

.visual-label-left {
  float: right;
  margin: 0 10%;
}
