
.circleCard {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #000;
    min-width: 200px;
    min-height: 200px;
}

p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    position: relative;
    top: -30px;
    margin: 20% 0 0 0;
    em {
        padding: 5px;
    }
}
.titletop{
    font-weight: bold;
}